body{
    background-color: white;
    max-width: 100vw;
    color: #857D7A;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    font-family: inherit;
    font-size: 100%;
    width: 50px;
    padding: 2px;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-height: 100%;
    width: 50%;
    object-fit: contain;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

header{
    width: 50vw;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

main{
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
}

footer{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

a{
    color: inherit;
    text-decoration: inherit;
    display: block;
}

a:hover{
    text-decoration: underline;
}

.encabezado{
    height: 100px;
    justify-content: center;
}

.lateral{
    width: 200px;
}



label{
    display: inline-block;
    text-align: right;
    width: 90px;
    padding-right: 5px;
}

input[type="checkbox"]{
    display: inline-block;
}

.display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #32A9D9;
}

.producto{
    margin: auto;
    padding: 40px 10px;
    display: flex;
    justify-content: space-between;
    height: 400px;
    color: whitesmoke;
}

.texto{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.paquetes>article{
    border: solid #32A9D9 10px;
    background-color: white;
    padding: 10px;    

    border-radius: 5%;
}

footer ul{
    margin-top: 10px;
}

footer ul li{
    margin-top: 5px;
}